#main-navbar {
    background-color: #bf360c !important;
}

.navbar-brand {
    color: white !important;
}

a {
    color: white ;
    margin: 5px;
}

.flashes h4 {
    line-height: 2;
}

#login-redirect {
    color: blue !important;
}