{% extends "base.html" %}
{% block content %}

<br>
<div class="row text-center">
  <h1>Protein Intake By Day</h1>
</div>
<br>
{% for days in days %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button data-mdb-collapse-init class="accordion-button" type="button"
        data-mdb-target="#{{days.friendly_description}}" aria-expanded="true"
        aria-controls="{{days.friendly_description}}">
        <strong>{{ days.day_date }}</strong>
      </button>
    </h2>
    <div id="{{days.friendly_description}}" class="accordion-collapse collapse show"
      aria-labelledby="{{days.friendly_description}}" data-mdb-parent="#accordionExample">
      <div class="accordion-body mb-2">
        <strong>{{days.description}}</strong>
        {% if session.user|lower == days.created_by|lower %}
        <div class="row mx-auto text-center">
          <div class="col-3">
            <a href="{{ url_for('edit_day', day_id=days._id) }}" class="btn btn-warning" data-mdb-ripple-init>Edit
              Record
            </a>
          </div>
          <div class="col-6">

          </div>
          <div class="col-3">
            <a href="{{ url_for('delete_day', day_id=days._id) }}" class="btn btn-danger"
              data-mdb-ripple-init>Delete
              Record
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}



{% endblock %}