{% extends "base.html" %} {% block content %}
<br />
<div class="row mx-auto text-center">
  <h1>Log your daily protein intake</h1>
</div>
<br />
<div class="card p-5">
  <form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div id="date-picker" class="col">
        <label for="entry-date">
          <h2>Entry Date</h2>
        </label>
        <input
          id="entry-date"
          name="entry-date"
          class="form-control"
          type="date"
          required
        />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input type="text" id="form6Example1" class="form-control" />
          <label class="form-label" for="form6Example1"
            >Food Item One <i class="fas fa-utensils"></i
          ></label>
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input type="text" id="form6Example2" class="form-control" />
          <label class="form-label" for="form6Example2"
            >Protein (Grams) <i class="fas fa-scale-balanced"></i
          ></label>
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="md-form">
            <select class="form-control">
                <option value="" disabled selected> Category <i class="fas fa-scale-balanced"></i></option>
                {% for category in categories %}
                <option value="{{category.category_name}}">{{category.category_name}}</option>
                {% endfor %}
            </select>
        </div>
      </div>
    </div>
    <!-- Submit button -->
    <button
      data-mdb-ripple-init
      type="button"
      class="btn btn-primary btn-block mb-4"
    >
      Enter Log
    </button>
  </form>
</div>

{% endblock %}
